# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [2]:
tc.__version__

'3.0.0'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [3]:
df = mdf.calc_df(group_vars=['expanded_income', 'aftertax_income'] +
                 mdf.ECI_REMOVE_COLS,
                 metric_vars=['XTOT'])
df.columns

Index(['expanded_income', 'housing_ben', 'mcaid_ben', 'XTOT', 'e02300',
       'mcare_ben', 'aftertax_income', 'other_ben', 'vet_ben', 'snap_ben',
       's006', 'ssi_ben', 'wic_ben', 'e02400', 'tanf_ben', 'market_income',
       'bens', 'tax', 's006_m', 'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [4]:
df['tpc_eci'] = mdf.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [5]:
mdf.add_vat(df)
df.columns

Index(['expanded_income', 'housing_ben', 'mcaid_ben', 'XTOT', 'e02300',
       'mcare_ben', 'aftertax_income', 'other_ben', 'vet_ben', 'snap_ben',
       's006', 'ssi_ben', 'wic_ben', 'e02400', 'tanf_ben', 'market_income',
       'bens', 'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat'],
      dtype='object')

In [6]:
df.head()  # Note these are zero because we block negative tax liability.

,expanded_income,housing_ben,mcaid_ben,XTOT,e02300,mcare_ben,aftertax_income,other_ben,vet_ben,snap_ben,...,wic_ben,e02400,tanf_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
192722,-294486.871312,0.0,0.0,2.0,0.000000,0.0,-294486.871312,0.0,0.0,0.0,...,0.0,0.0,0.0,-294486.871312,0.000000,0.0,0.000384,0.000767,-294486.871312,0.0
166558,-228882.576430,0.0,0.0,2.0,5121.874971,0.0,-228882.576430,0.0,0.0,0.0,...,0.0,0.0,0.0,-234004.451401,5121.874971,0.0,0.000151,0.000302,-228882.576430,0.0
12643,-164595.951661,0.0,0.0,1.0,0.000000,0.0,-164595.951661,0.0,0.0,0.0,...,0.0,0.0,0.0,-164595.951661,0.000000,0.0,0.001389,0.001389,-164595.951661,0.0
262111,-161468.454966,0.0,0.0,2.0,5651.020630,0.0,-161468.454966,0.0,0.0,0.0,...,0.0,0.0,0.0,-167119.475596,5651.020630,0.0,0.000588,0.001177,-161468.454966,0.0
29689,-152059.539175,0.0,0.0,2.0,0.000000,0.0,-152059.539175,0.0,0.0,0.0,...,0.0,0.0,0.0,-152059.539175,0.000000,0.0,0.000265,0.000530,-152059.539175,0.0

In [7]:
df.sample(5)

,expanded_income,housing_ben,mcaid_ben,XTOT,e02300,mcare_ben,aftertax_income,other_ben,vet_ben,snap_ben,...,wic_ben,e02400,tanf_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
126425,19697.808832,0.0,0.0,1.0,1801.007816,0.000000,16550.373750,0.0,0.0,0.0,...,0.000000,0.000000,0.0,17896.801016,1801.007816,3147.435083,0.000935,0.000935,19697.808832,645.464576
70107,31986.511129,0.0,0.0,2.0,0.000000,14469.708379,31986.511129,0.0,0.0,0.0,...,0.000000,17516.802750,0.0,0.000000,31986.511129,0.000000,0.001004,0.002007,17516.802750,1247.473934
31947,64436.830248,0.0,0.0,1.0,0.000000,0.000000,50947.053818,0.0,0.0,0.0,...,0.000000,0.000000,0.0,64436.830248,0.000000,13489.776430,0.000287,0.000287,64436.830248,1834.093937
193309,30574.719351,0.0,0.0,2.0,0.000000,0.000000,29576.208123,0.0,0.0,0.0,...,507.054139,0.000000,0.0,30067.665212,507.054139,998.511227,0.001131,0.002261,30067.665212,1064.743492
105471,32595.698017,0.0,0.0,2.0,0.000000,14469.708379,32595.698017,0.0,0.0,0.0,...,0.000000,17203.372056,0.0,922.617582,31673.080435,0.000000,0.000244,0.000489,18125.989638,1271.232223

Add carbon tax and financial transaction tax.

In [8]:
mdf.add_carbon_tax(df)
mdf.add_ftt(df)
df.columns

Index(['expanded_income', 'housing_ben', 'mcaid_ben', 'XTOT', 'e02300',
       'mcare_ben', 'aftertax_income', 'other_ben', 'vet_ben', 'snap_ben',
       's006', 'ssi_ben', 'wic_ben', 'e02400', 'tanf_ben', 'market_income',
       'bens', 'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax',
       'ftt'],
      dtype='object')

In [9]:
df.sample(5)

,expanded_income,housing_ben,mcaid_ben,XTOT,e02300,mcare_ben,aftertax_income,other_ben,vet_ben,snap_ben,...,tanf_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,,,,,,,
117756,34965.684903,0.0,0.000000,2.0,0.0,14469.708379,34965.684903,0.000000,0.0,0.000000,...,0.0,1697.860266,33267.824637,0.000000,0.003453,0.006905,20495.976524,1363.661711,419.588219,34.965685
200149,21171.233369,0.0,0.000000,1.0,0.0,0.000000,18789.626395,1990.262598,0.0,3402.778753,...,0.0,15778.192017,5393.041351,2381.606974,0.000685,0.000685,21171.233369,676.426550,263.054770,18.789626
131651,387195.713323,0.0,0.000000,1.0,0.0,0.000000,278857.991979,0.000000,0.0,0.000000,...,0.0,387195.713323,0.000000,108337.721343,0.000863,0.000863,387195.713323,7808.023775,4461.727872,1115.431968
147449,46856.493394,0.0,17603.123823,2.0,0.0,0.000000,46988.648886,13096.687125,0.0,6664.775447,...,0.0,9491.907000,37364.586394,-132.155492,0.004226,0.008452,29253.369572,1691.591360,657.841084,46.988649
224567,105502.079865,0.0,26405.907494,5.0,0.0,0.000000,97447.743810,13797.617481,0.0,0.000000,...,0.0,61088.209471,44413.870395,8054.336056,0.000509,0.002545,79096.172371,3508.118777,1754.059389,194.895488

VAT with a custom amount generated.

In [10]:
mdf.add_vat(df, total=500e9, name='vat2')
df.columns

Multiplying tax by 1.14.

Index(['expanded_income', 'housing_ben', 'mcaid_ben', 'XTOT', 'e02300',
       'mcare_ben', 'aftertax_income', 'other_ben', 'vet_ben', 'snap_ben',
       's006', 'ssi_ben', 'wic_ben', 'e02400', 'tanf_ben', 'market_income',
       'bens', 'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax',
       'ftt', 'vat2'],
      dtype='object')

In [11]:
mdf.weighted_sum(df, col='vat', w='s006') / 1e9

439.61146780827477

In [12]:
mdf.weighted_sum(df, col='vat2', w='s006') / 1e9

500.0

Calculate by hand using `add_custom_tax`.

In [13]:
mdf.add_custom_tax(df, 'tpc_eci', 'XTOT_m', 'aftertax_income', 
                   mdf.VAT_INCIDENCE, 'vat3', 1e12)

Multiplying tax by 2.27.

In [14]:
mdf.weighted_sum(df, 'vat3', 's006') / 1e9

1000.0000000000001