# Income measures

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

## Load data

Start with a `DataFrame` with `expanded_income` and the variables in `expanded_income` excluded from `tpc_eci`.

In [2]:
df = mdf.calc_df(group_vars=['expanded_income', 'wic_ben', 'housing_ben', 
                             'vet_ben', 'mcare_ben', 'mcaid_ben'],
                 metric_vars=['XTOT'])

Calculate `tpc_eci`.

In [3]:
df['tpc_eci'] = mdf.tpc_eci(df)

In [4]:
df.head()

,expanded_income,snap_ben,ssi_ben,XTOT,e02400,mcare_ben,e02300,housing_ben,tanf_ben,s006,...,aftertax_income,vet_ben,wic_ben,other_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci
RECID,,,,,,,,,,,,,,,,,,,,,
1,56671.604435,2670.493781,0.0,1.0,24567.889745,14469.708379,0.00000,0.0,0.0,280.60,...,56671.604435,0.0,0.0,6161.950619,-7.275958e-12,56671.604435,0.000000,0.000281,0.000281,33400.334145
2,55452.916535,0.000000,0.0,2.0,0.000000,0.000000,1250.18631,0.0,0.0,216.81,...,44924.168333,0.0,0.0,0.000000,5.420273e+04,1250.186310,10528.748202,0.000217,0.000434,55452.916535
3,43927.829137,0.000000,0.0,2.0,16057.804941,14469.708379,0.00000,0.0,0.0,268.85,...,43927.829137,0.0,0.0,4598.753905,0.000000e+00,43927.829137,0.000000,0.000269,0.000538,20656.558846
4,35639.635313,0.000000,0.0,2.0,0.000000,0.000000,0.00000,0.0,0.0,224.88,...,29936.234000,0.0,0.0,0.000000,3.563964e+04,0.000000,5703.401313,0.000225,0.000450,35639.635313
5,85247.723237,0.000000,0.0,2.0,0.000000,0.000000,0.00000,0.0,0.0,240.80,...,72320.705333,0.0,0.0,0.000000,8.524772e+04,0.000000,12927.017904,0.000241,0.000482,85247.723237